# build
dist/
.astro/
.output/

# deps
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# os
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# test
coverage/
playwright-report/
playwright/.cache/
test-results/
.vitest-cache/
.playwright/
